body{
    background-color: #1f2937;
    max-width: 960px;
    margin: auto;
}

#hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    font-family: roboto;
}

#panda {
    width: 300px;
    height: auto;
}

#hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
    font-family: Roboto;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero .hero-links {
    color: #e5e7eb;
    font-size: 18px;
}

.main-left {
    float: left;
}

.main-right {
    float: right;
}