body{
    background-color: #1f2937; 
    /* max-width: 960px; */
    max-width: 80%;
    margin: auto;
}



.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu .links {
    color: #e5e7eb;
    font-size: 18px;
    
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    font-family: roboto;
}

#panda {
    width: 500px;
    height: auto;
    /* object-fit: contain; */
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
    font-family: Roboto;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
}

.hero-main {
    display: flex;
    margin: 100px;
}

.hero-main-left {
    flex: 50%;
}

.hero-main-right {
    flex: 50%;
    /* object-fit: contain; */
}
